/* author : Jaspreet Singh (https://github.com/jaspreet57)
   12-8-2015
*/


/* typography */
body {
    background-color: #009688;
    color: white;
}

#offline-msg {
    
    width: 70%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin: auto auto;
    font-family: monospace;
    font-size: 20px;
}
