header.banner {
    background-color: $app-background;
    .name-height {
        position: relative;
        height: $name-logo-height * 0.8;
        margin-top: 50px;
        text-align: center;
        @include breakpoint(m) {
            text-align: inherit;
            margin-top: 180px;
            height: $name-logo-height;
        }
        img {
            width: $name-logo-width * 0.8;
            @include breakpoint(m) {
                width: $name-logo-width;
            }
        }
        .name-text {
            position: relative;
            text-align: center;
            @include breakpoint(m) {
                position: absolute;
                text-align: inherit;
                padding: 5px;
                top: 50%;
                transform: translate(0, -50%);
            }
            h1 {
                font-size: 2rem;
                line-height: 2.5rem;
                span.before-name {
                    color: white;
                    background: $app-orange;
                }
                span.my-name {
                    color: $app-orange;
                    background: white;
                }
                @include breakpoint(m) {
                    font-size: 4rem;
                    line-height: 4.5rem;
                }
                @include breakpoint(l) {
                    font-size: 5rem;
                    line-height: 5.5rem;
                }
                transition: all .5s;
            }

            h1:hover {
                span.before-name {
                    color: black;
                    background: inherit;
                }
                span.my-name {
                    background: skyblue;
                    color: white;
                }
            }
            
            h3 {
                font-size: .7rem;
                line-height: 1rem;
                transition: all .5s;
                @include breakpoint(m) {  
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
                @include breakpoint(l) {  
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }

    .name-height.name-height-no-img {
        height: $name-logo-height/3;
        @include breakpoint(m) {
            height: $name-logo-height;
        }
    }

    // all about navbar
    $nav-height: 60px;

    nav.navbar {
        height: $nav-height;
        width: 95%;
        margin: auto auto;
        z-index: 99999999;
        background-color: $app-background;
        transition: background-color 1s;
        @include breakpoint(m) {
            width: 50%;
            margin: auto auto;
        }

        ul li {
            display: inline-block;
            margin: 0;
            padding: 0;
            height: $nav-height;
            line-height: $nav-height;
            transition: all 1s;
            a {
                text-decoration: none;
            }
        }

        hr {
            width: 80%;
            margin: auto auto;
            border-top: 0px;
            background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
            height: 3px;
            transition:  all 1s;
            @include breakpoint(m) {
                width: 50%;
            }
        }
    }

    .is-sticky nav.navbar {
        background-color: rgb(135, 207, 235);
        transition: background-color 3s;
        width: 100%;
        z-index: 99999999;
        @include breakpoint(m) {
            width: 100%;
        }
        color: white;
        ul li {
            a {
                color: white;
                font-weight: 900;
            }
        }
        hr {
            width: 100%;
            @include breakpoint(m) {
                width: 100%;
            }
        }
    }
}


section.banner-bottom {
    height: 5px;
    @include breakpoint(m) {
        height: 180px;
    }
    background-color: $app-background;
}