body.color-default {
    background-color: $app-background;
}

body.color-red {
    background-color: $app-red;
}

body.color-blue {
    background-color: $app-blue;
}

body.color-yellow {
    background-color: $app-yellow;
}