// reseting defaults

body {
    background-color: $app-background;
    transition: background-color 1s ease-in-out;
}

body::after {
    display: block; position: absolute; width: 1px; height: 100%; top: 0px; left: 0px;
}