// Website Variables and Colours

// Colors:
$app-blue: #0F0FFF;
$app-yellow: #FFFF0F;
$app-purple: #790091;
$app-red: #FF0F0F;
$app-orange: #FF870F;
$app-pink: #F70049;

// backgrounds and layout colors:
$app-background: #fff;

// name-logo dimensions:
$name-logo-height: 216px;
$name-logo-width: 100px;