// Website Variables and Colours

// Colors:
$app-blue: #1b3194;
$app-yellow: #FFFF0F;
$app-purple: #6b0990;
$app-red: #ff5851;
$app-orange: #e86618;
$app-pinK: #ef3158;

// backgrounds and layout colors:
$app-background: #fff;

// name-logo dimensions:
$name-logo-height: 216px;
$name-logo-width: 100px;